POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=eventpulse
DATABASE_URL=postgresql://postgres:eventpulse@2026@db.jsafdtrhsurnjmrsaeud.supabase.co:5432/postgres
MODEL_PATH=/app/ml/models